@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,300;1,400&display=swap');
body {
    font-family: 'Poppins',sans-serif;
}
h1 {
    font-size: 2rem;
}
.name-highlight {
    color: darkorange;
}
